@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;

  --color-blackprimary: #000000;
  --color-greyprimary: #09130a;
  --color-greysecondary: #1c2128;
  --color-greytertiary: #3b4642;
  --color-greyquaternary: #5b6564;


}

@theme inline {
--color-blackprimary: #000000;
  --color-greyprimary: #09130a;
  --color-greysecondary: #1c2128;
  --color-greytertiary: #3b4642;
  --color-greyquaternary: #5b6564;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open_sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: OpenSans;
}
